$white: rgb(255, 255, 255);
$acctent-color: rgb(26, 20, 35);
$card-color: rgb(242, 242, 242);


.about {
  height: 62vh;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 6vh;
  margin-bottom: 6vh;

  h1 {
    font-size: 32px;
    font-weight: 700;
    color: $acctent-color;
    text-align: center;
  }

  h2 {
    margin-top: 40px;
    font-size: 27px;
    font-weight: 700;
    color: $acctent-color;
    text-align: center;
  }

}
.line {
  width: 60%;
  height: 2px;
  background-color: $acctent-color;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text {
  font-size: 22px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}