$acctent-color: rgb(26, 20, 35);

.cars {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 94%;
  margin: 20px auto;

  border: 3px solid $acctent-color;
  border-radius: 10px;
  overflow: hidden;
}
.up {
  display: flex;
  flex-direction: column;

  img {
    height: 500px;
    width: 100%;
  }
}

.text__section {
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 20px;
    text-align: center;
  }
  p {
    text-align: center;
    margin-top: 10px;
  }
  h1 {
    padding: 20px;
  }
  ul {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    li {
      padding: 8px;
      margin: 10px;
      border-radius: 10px;
      background-color: rgba(160, 157, 157, 0.1);
      color: #201d1d;
      // box-shadow: 24px 23px 10px -13px rgba(0, 0, 0, 0.5);

      // transition-property: box-shadow;
      // transition-duration: 0.3s;


      &:hover {
        box-shadow: none;
      }
    }
  }
}

.cars_parametrs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .price {
    margin: 5px 0;
    padding: 10px 50px;
    font-size: 30px;
    border: 2px solid $acctent-color;
    border-radius: 10px;
  }
  .rented {
    margin: 5px 0;
    padding: 10px 60px;
    font-size: 30px;
    border: 2px solid $acctent-color;
    background-color: red;
    border-radius: 10px;
  }
  .free {
    margin: 5px 0;
    padding: 10px 60px;
    font-size: 30px;
    border: 2px solid $acctent-color;
    background-color: green;
    border-radius: 10px;
  }
  button {
    font-size: 30px;
    padding: 10px 30px;
    margin: 10px 0 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
    }
  }

}
