.cars {
  display: flex;
  position: relative;
  flex-direction: column;
}
.up {
  display: flex;
  flex-direction: column;
}

.text__section {
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 20px;
  }
  p {
    margin-top: 10px;
  }
  ul {
    padding: 20px 0;
    li {
      padding: 10px;
      border-radius: 10px;
      background-color: rgba(160, 157, 157, 0.3);
      color: #201d1d;
      box-shadow: 24px 23px 10px -13px rgba(0, 0, 0, 0.5);

      transition-property: box-shadow;
      transition-duration: 0.3s;
      cursor: pointer;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.cars_parametrs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
